<div class="signin">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Welcome!</label>
                    <input type="text" name="txt" placeholder="Location" required="">
                    <input type="email" name="number" placeholder="Number" required="">
                    <input type="text" name="about you" placeholder="About you" >
                    <button>Save</button>
                </form>
            </div>

    </div>
    </div>