<p>newcomp works!</p>

<div class="info">

  <h1>SASS Mixin for making full screen background images</h1>

  <div class="desc">
  <p>A simple mixin for making the those cover background images everyone loves so much. </p>



	<p>If you are interested in learning how you can use background position with cover to highlight a part of an image, please check out this pen I made: <a href="https://codepen.io/auginator/pen/htCjs" target="_blank">Background Cover From Key Image Feature</a></p>

  <p>If you need a proper explanation on full page background images, Chris C. has your back: <a href="https://css-tricks.com/perfect-full-page-background-image/" target="_blank">https://css-tricks.com/perfect-full-page-background-image/</a></p>
  </div>
  <button></button>
</div>
<script>
$('button').on('click', function(e){
  $('.info').toggleClass('show-details');
});
</script>

<button id="new" class="btn btn-primary"
 [routerLink]="['/ReCraftMartket/src/app/testdetails']">
 Go to Master Page</button>

